nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 5vw;
    box-shadow: 3px 3px 7px;
    background-color: #f9c32c;
    z-index: 999;
    
}
 nav img{
    width: 90px;
    cursor: pointer;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}
 ul li a{
    text-decoration: none;
     color:black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    margin-left: 20px;
} 
ul li a:hover{
    color: orangered;
}
#course {
    background-color: #f5f5f5;
    padding: 50px 0 ;
    text-align: center;
}

#course h1 {
    font-size: 60px;
    color: lightgreen;
}

#course p {
    font-size: 25px;
    color: #777;
    margin-top: 10px;
}
.course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    grid-gap: 1rem;
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.course-box img:hover{
    position: relative;
    bottom: 15px;
    border: 5px black;
    transition: all ease 0.1s;

}
.course-box img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    background-position: center;
    background-size: cover;
   
}
.details span {
    font-size: 10px;
    margin-top: 120px; /* Adjust this value */
    margin-bottom: 20px; /* Adjust this value */
    margin-left: -400px;
    color: #999;
    display: block; /* Ensure that the <span> elements are block-level elements */
}
.details h5 {
    font-size: 20px;
    color: #333;
    margin-top: -20px;
    margin-left:-400px;
}
footer {
    background-color:#101c32; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap:wrap ;
    padding: 3vw;
}
footer .footer-col{
    padding-bottom: 40px;
}
footer h3{
    color: #f5f5f5;
    font-weight: 600;
    padding-bottom: 10px;
}
footer li{
    list-style: none;
    color: #f5f5f5;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
footer li:hover{
    color: #c20d0d;
}
footer .copyright{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #ccc;
}
